ion-header {
    ion-toolbar {
      --background: #000000; 
      color:#ffffff;
      text-align: center;
      font-size: 27px;
      font-weight: bold;
    }
  }
  .transparent-card {
    background-color: rgba(255, 255, 255, 0.5); /* Transparent white background */
    border: none; /* Remove border */
  }
  

  ion-segment-button{
    font-size: 27px;
      font-weight: bold;
  }
 /* General Styles */
// ion-content {
//   --background: #f5f5f5;
// }

ion-list {
  // background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

ion-item {
  --background: transparent;
  --inner-padding-end: 0;
  --padding-start: 0;
}

/* Slip Label */

/* Card Styles */
ion-card {
  margin-bottom: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #e6e6e6;
  // color: #fff;
  padding: 12px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

ion-card-content {
  padding: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}

.item-details {
  margin-bottom: 8px;
  color: #555;
}

/* Responsive Styles */
@media (max-width: 576px) {
  ion-card-content {
    font-size: 14px;
  }
}
.invoice-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.invoice-details {
  border-top: 1px solid #ddd;
  padding-top: 16px;
  margin-top: 16px;
}

.invoice-footer {
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}

.invoice-footer p {
  margin: 0;
}

.invoice-card ion-card-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
// ion-content{
//   --background:#030101;
// }

.transparent-content {
  --ion-background-color: transparent;
  }
  