<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Invoices</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let slip of slips">
      <ion-card *ngFor="let item of slip.items" class="invoice-card">
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-sm="6">
              <ion-card-title>{{ item.name }}</ion-card-title>
            </ion-col>
          </ion-row>
          <ion-row class="invoice-details">
            <ion-col size="12">
              <p>Quantity: {{ item.quantity }}</p>
              <p>Category: {{ item.category }}</p>
              <p>Barcode: {{ item.barcode }}</p>
              <p>Description: {{ item.description }}</p>
            </ion-col>
            <ion-col size="12">
              <p>Date of Pickup: {{ item.dateOfPickup }}</p>
              <p>Time of Pickup: {{ item.timeOfPickup }}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>


