
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Manage Profiles</ion-title>
    <ion-icon style="font-size: 30px; font-weight: bolder;"  routerLink="/home" slot="start" name="arrow-back-outline"></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding black-background">
  <!-- <ion-segment value="custom">
    <ion-segment-button value="custom">
      <ion-label>Manage Profiles</ion-label>
    </ion-segment-button>
     <ion-segment-button value="segment" routerLink="/analytics">
      <ion-label>Analytics </ion-label>
    </ion-segment-button> 
  </ion-segment> -->

  <div class="table-container">
    <table class="styled-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | async" class="user-item animate__animated animate__fadeInUp">
          <td style="color: white;">{{ user.name }}</td>
          <td style="color: white;">{{ user.email }}</td>
          <td style="color: white;">{{ user.role }}</td>
          <td style="color: white;" [ngClass]="{'active': user.status === 'active', 'denied': user.status === 'denied', 'pending': user.status === 'pending'}">{{ user.status }}</td>
          <td>
            <ion-button (click)="approveUser(user)" color="success" fill="outline" class="animate__animated animate__bounceIn">
              <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
            </ion-button>
            <ion-button (click)="declineUser(user)" color="danger" fill="outline" class="animate__animated animate__bounceIn">
              <ion-icon name="close-circle-outline" slot="start"></ion-icon>
            </ion-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
</ion-content>