<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>storeroom</ion-title>
    <ion-icon style="font-size: 30px; font-weight: bolder;" routerLink="/home" slot="end" name="arrow-back-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar [(ngModel)]="searchTerm" placeholder="Search by name" (ionInput)="filterInventory()"></ion-searchbar>

  <ion-item>
    <ion-label>Filter by Category</ion-label>
    <ion-select [(ngModel)]="selectedCategory" (ionChange)="filterInventory()">
      <ion-select-option value="">All</ion-select-option>
      <ion-select-option value="Cleaning Detergents">Cleaning Detergents</ion-select-option>
      <ion-select-option value="Plastics">Plastics</ion-select-option>
      <ion-select-option value="Cleaning Equipment">Cleaning Equipment</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Filter by Quantity</ion-label>
    <ion-select [(ngModel)]="selectedQuantityRange" (ionChange)="filterInventory()">
      <ion-select-option value="">All</ion-select-option>
      <ion-select-option value="tooLow">Too Low</ion-select-option>
      <ion-select-option value="runningLow">Running Low</ion-select-option>
      <ion-select-option value="middle">Middle</ion-select-option>
      <ion-select-option value="full">Full</ion-select-option>
    </ion-select>
  </ion-item>



  

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3" *ngFor="let item of filteredInventory">
        <ion-button (click)="navigateToUpdatePage(item)">
          <ion-card class="inventory-item">
          <ion-img [src]="item.imageUrl" alt="{{ item.name }} Image" class="card-image"></ion-img>
  
          <ion-card-content>
            <ion-card-header>
              <ion-card-title>
                <ion-icon name="basket-outline"></ion-icon>
                {{ item.name }}
              </ion-card-title>
            </ion-card-header>
  
            <p>
              <ion-icon name="pricetags-outline"></ion-icon>
              Category: {{ item.category }}
            </p>
            <p>
              <ion-icon name="document-text-outline"></ion-icon>
              Description: {{ item.description }}
            </p>
            <p>
              <ion-icon name="cube-outline"></ion-icon>
              Quantity: {{ item.quantity }}
            </p>
            <p>
              <ion-icon name="barcode-outline"></ion-icon>
              Barcode: {{ item.barcode }}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  
  
</ion-content>
