
    ion-toolbar {
      --background: #ffffff; /* Background color white */
      color: #000000; /* Text color black */
      text-align: center;
    }
    
  ion-segment {
    --background: #ffffff;
    font-weight: bold;
  }

 /* General Styles */
ion-content {
    --background: #f7f7f7;
    --ion-font-family: 'Poppins', sans-serif;
  }
  
  .bold-icon {
    font-weight: bold;
    font-size: 1.2em; /* Adjust the font size as needed */
  }
  /* Inventory Item Styles */
  .inventory-item {
    margin-bottom: 20px;
  }
  
  .animated-header {
    background-color: #c24d2c;
    color: #fff;
    animation: pulse 2s infinite;
  }
  
  .animated-content {
    background-color: #f5f5f5;
    animation: fadeIn 1s;
  }
  
  .thumbnail {
    max-width: 100px;
    max-height: 100px;
    margin-top: 10px;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .card-image {
    width: 100%; /* Image fills the container */
    height: auto; /* Maintain aspect ratio */
  }
  
  /* Adjust the spacing between cards */
  ion-card.inventory-item {
    margin-bottom: 20px;
  }
  
  /* Adjust the width of cards on different screen sizes */
  @media screen and (min-width: 576px) {
    ion-col {
      max-width: 50%; /* Two cards per row on small screens */
    }
  }
  
  @media screen and (min-width: 768px) {
    ion-col {
      max-width: 33.33%; /* Three cards per row on medium screens */
    }
  }
  
  @media screen and (min-width: 992px) {
    ion-col {
      max-width: 25%; /* Four cards per row on large screens */
    }
  }
  
  
  