<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Analytics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="analytics-container">
    <div class="chart-section">
      <ion-label class="chart-title">Store Inventory</ion-label>
      <div class="chart-container" style="background-color: #d1c4e9;">
        <canvas id="quantityByCategoryChart"></canvas>
      </div>
    </div>
    
    <div class="chart-section">
      <ion-label class="chart-title">Storeroom Inventory</ion-label>
      <div class="chart-container" style="background-color: #b3e5fc;">
        <canvas id="quantityByCategoryStorommChart"></canvas>
      </div>
    </div>
    
    <div class="chart-section">
      <ion-label class="chart-title">Total Category Comparison</ion-label>
      <div class="chart-container" style="background-color: #ffcc80;">
        <canvas id="categoryComparisonChart"></canvas>
      </div>
    </div>
    
    <div class="chart-section">
      <ion-label class="chart-title">Total Product Quantities</ion-label>
      <div class="chart-container" style="background-color: #c5cae9;">
        <canvas id="totalQuantitiesChart"></canvas>
      </div>
    </div>
    
    <div class="chart-section">
      <ion-label class="chart-title">Best Performing Product</ion-label>
      <div class="chart-container" style="background-color: #ffab91;">
        <canvas id="updateFrequencyChart"></canvas>
      </div>
    </div>
  </div>
</ion-content>
