ion-toolbar{
  text-align: center;
}
.custom-file-input {
margin-bottom: 50px;
margin-top: 9px;
}

.field {
  display: flex;
  flex-wrap: wrap;
}

.field label {
  margin-right: 20px; /* Adjust spacing between labels as needed */
}

@media screen and (max-width: 768px) {
  .field label {
    margin-right: 10px; /* Adjust spacing for smaller screens */
  }
}
// ion-toolbar {
//   --background: #c24d2c; 
//   color:#fff;
//   text-align: center;
// }
ion-item {
--background: transparent;
--padding-start: 10px;
--padding-end: 10px;
--border-radius: 20px; /* Increased border-radius for a curved border */
margin-bottom: 20px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
transition: all 0.3s ease-in-out;
color: white;
border: 1px solid white;
font-weight: bold;
}
.transparent-content {
--ion-background-color: transparent;
}
