<ion-header>
  <ion-toolbar>
    <ion-title class="header-title">Update Inventory</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" class="back-button">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="transparent-content">
  <ion-grid>
    <ion-item>
      <ion-toggle labelPlacement="end" [(ngModel)]="toggleChecked">Type barcode</ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Barcode</ion-label>
      <ion-input type="text" [(ngModel)]="barcode" *ngIf="toggleChecked"></ion-input>
      <ion-icon name="barcode-outline" color="white" slot="end" *ngIf="!toggleChecked" (click)="scanBarcode()"></ion-icon>
    </ion-item>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Item Name</ion-label>
          <ion-input [(ngModel)]="itemName" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Deliver</ion-label>
          <ion-input [(ngModel)]="itemDeliver" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Category</ion-label>
          <ion-input [(ngModel)]="itemCategory" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-textarea [(ngModel)]="itemDescription"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Quantity</ion-label>
          <ion-input [(ngModel)]="itemQuantity" type="number"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <img class="thumbnail" src="{{newImage}}" alt="{{  itemName }} ">
        </ion-item>
      </ion-col>
    </ion-row>


    <ion-toolbar>
      <ion-buttons style="justify-content: center; align-items: center;">
        <ion-button color="secondary" size="large" (click)="takePicture()" class="image-button">
          <ion-icon name="camera"></ion-icon> Take Picture
        </ion-button>
        <ion-button color="success" size="large" (click)="updateItem()" class="update-button">
          Update
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-grid>
</ion-content>
