<!-- Inventory Component HTML -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Picked Items</ion-title>
    <ion-icon style="font-size: 30px; font-weight: bolder;" routerLink="/home" slot="start" name="arrow-back-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar [(ngModel)]="searchTerm" placeholder="Search by name" (ionInput)="filterInventory()"></ion-searchbar>

  <ion-item>
    <ion-label>Filter by Category</ion-label>
    <ion-select [(ngModel)]="selectedCategory" (ionChange)="filterInventory()">
      <ion-select-option value="">All</ion-select-option>
      <ion-select-option value="Cleaning Detergents">Cleaning Detergents</ion-select-option>
      <ion-select-option value="Plastics">Plastics</ion-select-option>
      <ion-select-option value="Cleaning Equipment">Cleaning Equipment</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Filter by Quantity</ion-label>
    <ion-select [(ngModel)]="selectedQuantityRange" (ionChange)="filterInventory()">
      <ion-select-option value="">All</ion-select-option>
      <ion-select-option value="tooLow">Too Low</ion-select-option>
      <ion-select-option value="runningLow">Running Low</ion-select-option>
      <ion-select-option value="middle">Middle</ion-select-option>
      <ion-select-option value="full">Full</ion-select-option>
    </ion-select>
  </ion-item>

  <br>

  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Barcode</th>
          <th>Picker's Details</th>
          <th>Date Of Pickup</th>
          <th>Time Of Pickup</th>
          <!-- <th>Image</th> -->
        </tr>
      </thead>
      <tbody>
        <!-- Iterate over each item in filteredInventory and display its data -->
        <tr *ngFor="let item of filteredInventory">
          <td style="color: white;">{{ item.name }}</td>
          <td style="color: white;">{{ item.category }}</td>
          <td style="color: white;">{{ item.description }}</td>
          <td style="color: white;">{{ item.quantity }}</td>
          <td style="color: white;">{{ item.barcode }}</td>
          <td style="color: white;">{{ item.pickersDetails }}</td>
          <td style="color: white;">{{ item.dateOfPickup }}</td>
          <td style="color: white;">{{ item.timeOfPickup }}</td>
          <!-- <td><img [src]="item.imageUrl" alt="{{ item.name }} Image" style="max-width: 100px; max-height: 100px;"></td> -->
        </tr>
      </tbody>
    </table>
  </div>
  

</ion-content>
