<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button routerLink="/login"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Profile</ion-title>
  </ion-toolbar>
  
</ion-header>

<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/login"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" *ngIf="user$ | async as user">{{ user.name }}'s Profile</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="profile-content">
  <ng-container *ngIf="user$ | async as user; else loading">
    <div class="profile-item">
      <ion-icon name="person" class="item-icon"></ion-icon>
      <p class="profile-info">Name: {{ user.name }}</p>
    </div>
    <div class="profile-item">
      <ion-icon name="mail" class="item-icon"></ion-icon>
      <p class="profile-info">Email: {{ user.email }}</p>
    </div>
    <div class="profile-item">
      <ion-icon name="briefcase" class="item-icon"></ion-icon>
      <p class="profile-info">Role: {{ user.role }}</p>
    </div>
    <div class="profile-item">
      <ion-icon name="flag" class="item-icon"></ion-icon>
      <p class="profile-info professional-status">Status: {{ user.status }}</p>
    </div>
  </ng-container>
  <ng-template #loading>
    <div class="loading-spinner">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </ng-template>
</ion-content>