<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card class="card card2">
      <ion-card-content class="form">
        <ion-item>
          <ion-toggle labelPlacement="end" [(ngModel)]="toggleChecked">Type barcode</ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Barcode</ion-label>
          <ion-input type="text" [(ngModel)]="barcode" *ngIf="toggleChecked"></ion-input>
          <ion-icon name="barcode-outline" slot="end" *ngIf="!toggleChecked" (click)="scanBarcode()"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Product Name</ion-label>
          <ion-input type="text" [(ngModel)]="itemName"></ion-input>
        </ion-item>

        <div class="field">
          <label>
            <input type="radio" value="Cleaning Detergents" [(ngModel)]="itemCategory" />
            Cleaning Detergents
          </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <label>
            <input type="radio" value="Plastics" [(ngModel)]="itemCategory" />
            Plastics
          </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <label>
            <input type="radio" value="Cleaning Equipment" [(ngModel)]="itemCategory" />
            Cleaning Equipment
          </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>

        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-textarea [(ngModel)]="itemDescription"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Quantity</ion-label>
          <ion-input type="number" [(ngModel)]="itemQuantity"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Picker Email</ion-label>
          <ion-input type="text" [(ngModel)]="pickersDetails"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Date of Pickup</ion-label>
          <ion-input type="date" [(ngModel)]="dateOfPickup"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Time of Pickup</ion-label>
          <ion-input type="time" [(ngModel)]="timeOfPickup"></ion-input>
        </ion-item>

        <ion-button  expand="block" id="fileInput" color="medium" class="custom-file-input" (click)="takePicture()">
          <ion-icon name="camera"></ion-icon>
          Take Picture
        </ion-button>

        <ion-button expand="block" (click)="addItem()" class="btn button1">Add Item</ion-button>
        <ion-button expand="block" (click)="generateSlip()" class="btn button2">DONE</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
