







<!-- <ion-content class="ion-padding" style="--background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('assets/v.jpg') no-repeat center / cover; height: 100vh; display: flex; align-items: center; justify-content: center;">
 
  

  <ion-segment value="custom">
    <ion-segment-button value="custom">
      <ion-label>Menu</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment" (click)="navigateToStoreInventory()">
      <ion-label>Store </ion-label>
    </ion-segment-button>
    <ion-segment-button value="storeroom" (click)="navigateToViewStoreRoom()">
      <ion-label>StoreRoom</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="grid-container">
    <ion-card (click)="navigateToAddInventory()" class="menu-card self-improvement">
      <ion-img src="assets/add.jpg"></ion-img>
      <ion-card-header>
        Add Inventory
      </ion-card-header>
    </ion-card>

    <ion-card (click)="navigateToUpdateInventory()" class="menu-card business-ideas">
      <ion-img src="assets/update.jpg"></ion-img>
      <ion-card-header>
        Update Inventory
      </ion-card-header>
    </ion-card>

    <ion-card (click)="navigateToPickupInventory()" class="menu-card business-ideas">
      <ion-img src="assets/pick.jpg"></ion-img>
      <ion-card-header>
       Add Inventory Storeroom
      </ion-card-header>
    </ion-card>

    <ion-card (click)="navigateToDeliverInventory()" class="menu-card business-ideas">
      <ion-img src="assets/del.jpg"></ion-img>
      <ion-card-header>
        Analytics
      </ion-card-header>
    </ion-card>

    
  </div>
</ion-content>  -->
<style>
  .scrollable-container{
    width:100%;
    height: auto;
    margin: 20px auto;
    overflow-x: auto;
    white-space: nowrap;
    position: relative;



    display: flex;
    place-content: center;
  }
  .scrollable-container::-webkit-scrollbar{
    width: 0  ;
    height: 0;
  }
  .card-container{
    width:100%;
    display: inline-block;

  }
.container{
display: inline-block;
}
.main-container{
width: 100%;
height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}


</style>


<ion-content class="content" >
  <!-- <ion-buttons slot="start">
    <ion-button expand="full" color="dark" class="clear-background" routerLink="/login">
      <ion-icon slot="icon-only" name="log-out"></ion-icon>
    </ion-button>
  </ion-buttons> -->
  <ion-fab slot="fixed" color="dark" vertical="top" horizontal="start"   routerLink="/login">
    <ion-fab-button color="dark">
      <ion-icon name="log-out"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- Your existing ion-tabs -->
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <!-- <ion-tab-button tab="add-inventory" (click)="navigateToAddInventory()">
        <ion-icon name="add-outline"></ion-icon>
        <ion-label>Add</ion-label>
      </ion-tab-button> -->

        <!-- <ion-tab-button tab="user-profiles" (click)="navigateToUserProfiles()">
          <ion-icon  name="people-outline" ></ion-icon>
          <ion-label>Manage Profiles</ion-label>
        </ion-tab-button> -->

      <!-- <ion-tab-button tab="update-inventory" (click)="navigateToUpdateInventory()">
        <ion-icon name="create-outline"></ion-icon>
        <ion-label>Update</ion-label>
      </ion-tab-button> -->

      <ion-tab-button tab="user-profiles" *ngIf="showManageProfilesTab" (click)="navigateToUserProfiles()">
        <ion-icon  name="people-outline" ></ion-icon>
        <ion-label>Manage Profiles</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="analytics" *ngIf="showAnalyticsTab" (click)="navigateToDeliverInventory()">
        <ion-icon name="analytics-outline"></ion-icon>
        <ion-label>Analytics</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="pickup-inventory" *ngIf="showStoreroomCard"  (click)="navigateToPickupInventory()">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label>Add to Storeroom</ion-label>
      </ion-tab-button>

      <!-- <ion-tab-button tab="analytics" (click)="navigateToDeliverInventory()">
        <ion-icon name="analytics-outline"></ion-icon>
        <ion-label>Analytics</ion-label>
      </ion-tab-button> -->

      <ion-tab-button tab="add-inventory" *ngIf="showSlipTab" (click)="navigateToAddInventory()">
        <ion-icon name="add-outline"></ion-icon>
        <ion-label>Add</ion-label>
      </ion-tab-button>

      <!-- <ion-tab-button tab="add-inventory">
        <ion-icon name="add-outline"></ion-icon>
        <ion-label>Invoices</ion-label>
      </ion-tab-button> -->

    </ion-tab-bar>
  </ion-tabs>



  <!-- <div class="scrollable-container">
    <div class="card-container">
      
      <div class="container" *ngIf="showStoreCard">
        <ion-card class="card" (click)="navigateToStoreInventory()">
          <ion-card-content class="card2">Store</ion-card-content>
        </ion-card>
      </div>
      <div class="container">
        <ion-card class="card">
          <ion-card-content class="card2">Invoice</ion-card-content>
        </ion-card>
      </div>
      <div class="container">
        <ion-card class="card" *ngIf="showStoreroomCard" (click)="navigateToViewStoreRoom()">
          <ion-card-content class="card2">Storeroom</ion-card-content>
        </ion-card>
      </div>
    </div>
  </div> -->
<div class="main-container">

  <div class="scrollable-container">
    <div class="card-container">
      
      <div class="container" *ngIf="showStoreCard">
        <ion-card class="card" (click)="navigateToStoreInventory()">
          <ion-card-content class="card2">Store</ion-card-content>
        </ion-card>
      </div>
      <div class="container">
        <ion-card  class="card">
          <ion-card-content routerLink="/delivery" class="card2">Invoice</ion-card-content>
        </ion-card>
      </div>
      <div class="container">
        <ion-card class="card" *ngIf="showStoreroomCard" (click)="navigateToViewStoreRoom()">
          <ion-card-content class="card2">Storeroom</ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</div>

</ion-content>
  
  
